# General
.DS_Store
.idea/
.vscode/
*.log
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
tmp/

# Flutter/Dart
.dart_tool/
.packages
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/local.properties

# Firebase
.firebase/
firebase-debug.log

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
